* {
  box-sizing: border-box;
}


body {
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(247, 249, 249);
}

.leftcolumn{
    display: grid;
    float: left;
    width: 15%;
    gap: 30px;
    padding: 20px;
    
}

.header {
    position: relative;
    display: grid;
    height: 415px;
    width: 100%;
    text-align: center;
    background-color: white;
    background: linear-gradient(to right, #78d5ea 40%, white 40%) no-repeat;
}

.header img{

    position: absolute;
    object-fit: scale-down;
    object-position: center;
}

.buttons{
    display: grid;
    grid-template-columns: 70% 1fr;
    height: 70px;
    width: auto;
    object-fit: cover;
    gap: 10px;

}


.trends{
    
    position: relative;
    text-align: center;
    object-position: center;
}

.trends a{
    position: absolute;
    top: 30%;
    left: 30%;

}

/* 
.bg1 {
    justify-self: right;

    height: auto;
    
    width: 30%;
    background-color: #78d5ea;
} */

@media screen and (max-width:750px){
    .header{
            height: 200px;
    }
    .header img{
            object-fit: cover

    }
    
}

.container {
    padding: 30 px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 60% 40%;
    
}

.stk1{
    scale: 2;
    justify-self: center;
}

.stickers {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 430px;
    padding: 30px;
    background-color: white;
    gap: 15px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.stickers img{
    /* transition: 100ms; */
	transition:  0.35s cubic-bezier(0.33, 1, 0.68, 1);
}

.stickers img:hover{
    scale:160%;
    position: relative;
}

.filter{
    padding: 30px;
}